@model Generics.DataModels.AdminModels.ProjectPlatforms
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="container-fluid">
     Input 
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="body">
                    <h2 class="card-inside-title">Project Detail</h2>
                    <form method="post" name="ProjectPlatform_Form" enctype="multipart/form-data" asp-controller="ProjectPlatform" asp-action="Create">
                        <input type="hidden" name="ProjectPlatformsId" value="@Model.ProjectPlatformsId" />
                        <input type="hidden" name="ProjectId" value="@Model.ProjectId" />
                        <div class="row clearfix">

                            <div class="col-sm-4">
                                <label for="email_address">Platform Name</label>
                                <div class="form-group">
                                    <select asp-for="Id" asp-items="ViewBag.Id" class="form-control show-tick">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="email_address">Platform Link</label>
                                <div class="form-group">
                                    <input type="text" asp-for="PlatformLink" class="form-control" placeholder="Platform Link" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="email_address">MobileSpace Name</label>
                                <div class="form-group">
                                    <select asp-for="Id" asp-items="ViewBag.Id" class="form-control show-tick">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="email_address">Post Plan</label>
                                <div class="form-group">
                                    <select asp-for="PostPerDay" name="PostPerDay" class="form-control show-tick">
                                        <option value="" selected>-- Select Post Plan --</option>
                                        <option value="0">Post Per Day</option>
                                        <option value="1">Post Per Week</option>
                                        <option value="2">Post Per Month</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="email_address">Post Quantity</label>
                                <div class="form-group">
                                    <input type="number" asp-for="PostsQuantity" name="PostsQuantity" value="@Model.PostsQuantity" class="form-control" placeholder="Post Quantity" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="email_address">Post Time Scheduling</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="zmdi zmdi-time"></i></span>
                                        </div>
                                        <input type="text" asp-for="PostSchedulingTime" name="PostSchedulingTime" class="form-control timepicker" placeholder="Please choose a time...">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="email_address">Status/Story Plan</label>
                                <div class="form-group">
                                    <select asp-for="StoriesPerDay" name="StoriesPerDay" class="form-control show-tick">
                                        <option value="" selected>-- Select status/story Plan --</option>
                                        <option value="0">Story Per Day</option>
                                        <option value="1">Story Per Week</option>
                                        <option value="2">Story Per Month</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="email_address">Status/Story Quantity</label>
                                <div class="form-group">
                                    <input type="number" asp-for="StoriesQuantity" name="StoriesQuantity" value="@Model.StoriesQuantity" class="form-control" placeholder="Name" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label for="email_address">Status/Story Time Scheduling</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="zmdi zmdi-time"></i></span>
                                        </div>
                                        <input type="text" asp-for="StoriesSchedulingTime" name="StoriesSchedulingTime" class="form-control timepicker" placeholder="Please choose a time...">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                    </label>
                                </div>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-raised btn-primary btn-round waves-effect">Add</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>*@
@section Scripts {
<script>
    $('[StoriesPerDay=options]').val(@Model.StoriesPerDay);
</script>
    <partial name="_ValidationScriptsPartial" />
}