@model Generics.DataModels.AdminModels.ProjectPlaformCreateView
@{
    var isEdit = (bool)ViewBag.IsEdit;
    var title = (isEdit ? "Edit " : "Create ") + " Project Platforms";
    ViewData["Title"] = title;
}
@CHtmlHelper.GenerateHeader(title, "/ProjectPlatform", "Back to Mobiles List")
@CHtmlHelper.GetCardHeader(12, title)
<form method="post" name="projectplatform">
    @if (isEdit)
    {
        @CHtmlHelper.GenerateInputField("", Model.Id.ToString(), HtmlInputType.Hidden, "Id")
        @CHtmlHelper.GenerateSingleSelectField("Project", "ProjectId", ViewBag.ProjectDictionary, (int)Model.ProjectId)
        @CHtmlHelper.GenerateSingleSelectField("Platform", "PlatformId", ViewBag.PlatformDictionary, (int)Model.PlatformId)
        @CHtmlHelper.GenerateSingleSelectField("Mobile Space", "MobileSpaceId", ViewBag.MobileSpacesDictionary, (int)Model.MobileSpaceId)
        @CHtmlHelper.GenerateSingleSelectField("Post Scheduler", "PostType", ProjectPlatformHelper.CreatePostScheduling(), (int)Model.PostType)
        @CHtmlHelper.GenerateSingleSelectField("Stories Scheduler", "StoriesType", ProjectPlatformHelper.CreateStoriesScheduling(), (int)Model.StoriesType)
    }
    else
    {
        @CHtmlHelper.GenerateSingleSelectField("Project", "ProjectId", ViewBag.ProjectDictionary)
        @CHtmlHelper.GenerateSingleSelectField("Platform", "PlatformId", ViewBag.PlatformDictionary)
        @CHtmlHelper.GenerateSingleSelectField("Mobile Space", "MobileSpaceId", ViewBag.MobileSpacesDictionary)
        @CHtmlHelper.GenerateSingleSelectField("Post Scheduler", "PostType", ProjectPlatformHelper.CreatePostScheduling())
        @CHtmlHelper.GenerateSingleSelectField("Stories Scheduler", "StoriesType", ProjectPlatformHelper.CreateStoriesScheduling())

    }
    @HtmlInputType.Text.GenerateInputField("Post Quantity", Model.PostCount.ToString(), "PostCount")
    @HtmlInputType.Text.GenerateInputField("Stories Quantity", Model.StoriesCount.ToString(), "StoriesCount")
    @CHtmlHelper.GenerateDataTime("PostSchedulingTime", Model.PostSchedulingTime.ToString())
    @CHtmlHelper.GenerateDataTime("StoriesSchedulingTime", Model.StoriesSchedulingTime.ToString())
    @HtmlInputType.Checbox.GenerateInputField("Is Active", Model.IsActive.ToString(), "IsActive")
    @CHtmlHelper.GenerateButton(isEdit ? "Update" : "Save", HtmlButtonType.SUBMIT)
</form>
@CHtmlHelper.GetCardFooter()
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}