@model Generics.DataModels.AdminModels.ProjectPlatforms

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="body">
                <h1>Detail</h1>

                <div>
                    <h4>Project Platform</h4>
                    <hr />
                    @*<dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ProjectPlatformsId)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ProjectPlatformsId)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ProjectName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ProjectName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PlatformLink)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PlatformLink)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </dd>


                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PostPerDay)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PostPerDay)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PostPerWeek)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PostPerWeek)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PostPerMonth)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PostPerMonth)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PostSchedulingTime)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PostSchedulingTime)
                        </dd>


                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.StoriesPerDay)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.StoriesPerDay)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.StoriesPerWeek)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.StoriesPerWeek)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.StoriesPerMonth)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.StoriesPerMonth)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.StoriesSchedulingTime)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.StoriesSchedulingTime)
                        </dd>




                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.IsActive)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.IsActive)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CreatedBy)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ModifiedBy)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ModifiedBy)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.OnCreated)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.OnCreated)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.OnModified)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.OnModified)
                        </dd>
                    </dl>*@
                </div>
                <div>
                    @Html.ActionLink("Edit", "Create", new { id = Model.Id }, new { @class = "btn btn-raised btn-warning btn-round waves-effect" }) |
                    <a asp-action="Index" class="btn btn-raised btn-primary btn-round waves-effect">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>