
@model IEnumerable<Generics.DataModels.AdminModels.ProjectPlatforms>
@{
    ViewData["Title"] = "Project Platforms";
    Layout = "_TableLayout";
    ViewBag.AddNewLink = "null";
}

<table class="table table-bordered table-striped table-hover dataTable js-exportable">
    @CHtmlHelper.TableHead("th", "Name", "Created", "Status", "Actions")
    @CHtmlHelper.TableFoot("tf", "Name", "Created", "Status", "Actions")
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PostPerDay</td>
                <td>@item.OnCreated.ToString("MMM dd, yyyy")</td>
                <td>@item.IsActive.CheckTag()</td>
                <td>
                    @ButtonHelper.EditSmall("/ProjectPlatform/Create/" + item.Id)
                    @ButtonHelper.DeleteSmall("/ProjectPlatform/Delate/" + item.Id)
                    @ButtonHelper.DetailSmall("/ProjectPlatform/Detail/" + item.Id)
                </td>
            </tr>
        }
    </tbody>
</table>





