@model Generics.DataModels.AdminModels.Mobile
@{
    var isEdit = (bool)ViewBag.IsEdit;
    var title = (isEdit ? "Edit " : "Create " ) + " Mobile";
    ViewData["Title"] = title;
}


@CHtmlHelper.GenerateHeader(title , "/Mobile", "Back to Templates")
@CHtmlHelper.GetCardHeader(12, title)
<form method="post">
    @if (isEdit)
    {
        @CHtmlHelper.GenerateInputField("Id", Model.MobileId.ToString(), HtmlInputType.Hidden, "MobileId")
    }
    @HtmlInputType.Text.GenerateInputField("Name", Model.MobileName, "MobileName")
    @HtmlInputType.Checbox.GenerateInputField("Is Active", Model.IsActive.ToString(), "IsActive")
    @CHtmlHelper.GenerateButton(isEdit ? "Update" : "Save", HtmlButtonType.SUBMIT)
</form>
@CHtmlHelper.GetCardFooter()
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}