@model Generics.DataModels.AdminModels.Mobile
@{
    var isEdit = (bool)ViewBag.IsEdit;
    var title = (isEdit ? "Edit " : "Create " ) + " Mobile";
    ViewData["Title"] = title;
}
@CHtmlHelper.GenerateHeader(title , "/Mobile", "Back to Mobiles List")
@CHtmlHelper.GetCardHeader(12, title)
<form method="post" name="mobile">
    @if (isEdit)
    {
        @CHtmlHelper.GenerateInputField("", Model.Id.ToString(), HtmlInputType.Hidden, "Id")
    }
    @HtmlInputType.Text.GenerateInputField("Name", Model.Name, "Name")
    @HtmlInputType.Checbox.GenerateInputField("Is Active", Model.IsActive.ToString(), "IsActive","IsActive")
    @CHtmlHelper.GenerateButton(isEdit ? "Update" : "Save", HtmlButtonType.SUBMIT)
</form>
@CHtmlHelper.GetCardFooter()
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}