@model IEnumerable<Generics.DataModels.AdminModels.Mobile>
@{
    ViewData["Title"] = "Mobiles";
    Layout = "_TableLayout";
}

<table class="table table-bordered table-striped table-hover dataTable js-exportable">
    @CHtmlHelper.TableHead("th", "Name", "Created", "Status", "Actions")
    @CHtmlHelper.TableFoot("th", "Name", "Created", "Status", "Actions")
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MobileName</td>
                <td>@item.OnCreated.ToString("MMM dd, yyyy")</td>
                <td>@item.IsActive.CheckTag()</td>
                <td>
                    @ButtonHelper.EditSmall("/Mobile/Create/"+item.MobileId)
                    @ButtonHelper.DeleteSmall("/Mobile/Create/" +item.MobileId)
                </td>
            </tr>
        }
    </tbody>
</table>
