@model IEnumerable<Generics.DataModels.AdminModels.Mobile>
@{
    ViewData["Title"] = "Mobiles";
    Layout = "_TableLayout";
    ViewBag.AddNewLink = "/Mobile/Create";
}

<table class="table table-bordered table-striped table-hover dataTable js-exportable">
    @CHtmlHelper.TableHead("th", "Name", "Created", "Status", "Actions")
    @CHtmlHelper.TableFoot("th", "Name", "Created", "Status", "Actions")
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.OnCreated.ToString("MMM dd, yyyy")</td>
                <td>@item.IsActive.CheckTag()</td>
                <td>
                    @ButtonHelper.EditSmall("/Mobile/Create/" + item.Id)
                    @ButtonHelper.DeleteSmall("/Mobile/Delate/" + item.Id)
                    @ButtonHelper.DetailSmall("/Mobile/Detail/" + item.Id)
                </td>
            </tr>
        }
    </tbody>
</table>
