@model IEnumerable<Generics.DataModels.AdminModels.Mobile>
@{
    ViewData["Title"] = "Mobiles";
    Layout = "_TableLayout";
    ViewBag.AddNewLink = "/Mobile/Create";
}

<table class="table table-bordered table-striped table-hover js-basic-example dataTable">
    @CHtmlHelper.TableHead("th", "Name", "Created", "Status", "Actions")
    @CHtmlHelper.TableFoot("th", "Name", "Created", "Status", "Actions")
    <tbody>
        @foreach (var item in Model)
        {
            @CHtmlHelper.Tr("td", item.Name, item.OnCreated.ToString(dddd_dd_MMMM_yyyy), item.IsActive.CheckTag().ToString(),
             @ButtonHelper.EditSmall("/Mobile/Edit/" + item.Id) + "" +
             @ButtonHelper.DeleteSmall("/Mobile/Delete/" + item.Id) + "" +
             @ButtonHelper.DetailSmall("/Mobile/Detail/" + item.Id).ToString());
        }
    </tbody>
</table>
