@model IEnumerable<Generics.Data.ApplicationUser>
@{
    ViewData["Title"] = "User";
    Layout = "_TableLayout";
    ViewBag.AddNewLink = "/User/Create";
}

<table class="table table-bordered table-striped table-hover dataTable js-exportable">
    @CHtmlHelper.TableHead("th", "Name", "Email", "Actions")
    @CHtmlHelper.TableFoot("th", "Name", "Email", "Actions")
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.UserName</td>
                <td> @item.Email</td>
                @*<td>
                    @foreach (var data in item.Roles)
                    {
                        <span>@data , </span>
                    }
                </td>*@
                <td>
                    @ButtonHelper.EditSmall("/User/Edit/" + item.Id)
                    @ButtonHelper.DeleteSmall("/User/Delete/" + item.Id)
                </td>

            </tr>
        }
    </tbody>
</table>
