@model IEnumerable<Generics.DataModels.AdminModels.WorkTask>
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}
<style>
    .dot {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        display: inline-block;
    }
</style>
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card state_w1">
                <div class="body d-flex justify-content-between">
                    <div class="col-md-12">
                        <h5>Over All</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <h5>45</h5>
                                <span>Total</span>
                            </div>
                            <div class="col-md-4">
                                <h5>45</h5>
                                <span>Done</span>
                            </div>
                            <div class="col-md-4">
                                <h5>45</h5>
                                <span>Done</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card state_w1">
                <div class="body d-flex justify-content-between">
                    <div class="col-md-12">
                        <h5>Current Week</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <h5>45</h5>
                                <span>Total</span>
                            </div>
                            <div class="col-md-4">
                                <h5>45</h5>
                                <span>Done</span>
                            </div>
                            <div class="col-md-4">
                                <h5>45</h5>
                                <span>Done</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card state_w1">
                <div class="body d-flex justify-content-between">
                    <div class="col-md-12">
                        <h5>Current Month</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <h5>45</h5>
                                <span>Total</span>
                            </div>
                            <div class="col-md-4">
                                <h5>45</h5>
                                <span>Done</span>
                            </div>
                            <div class="col-md-4">
                                <h5>45</h5>
                                <span>Done</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card state_w1">
                <div class="body d-flex justify-content-between" style="background-color:#04BE5B">
                    <div class="col-md-12">
                        <h5>Total</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <h5>45</h5>
                                <span>Total</span>
                            </div>
                            <div class="col-md-4">
                                <h5>45</h5>
                                <span>Done</span>
                            </div>
                            <div class="col-md-4">
                                <h5>45</h5>
                                <span>Done</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card project_list">


                <div class="table-responsive">
                    <table class="table table-hover c_table">
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th>Platforms</th>
                                <th>Scheduling Time</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                
                                <tr style="@((item.IsCompleted)?"background-color:#04BE5B":"")">


                                    <td><strong>@item.ProjectName</strong></td>
                                    <td>
                                        @foreach (var plat in item.WorkTaskPlatforms)
                                        {

                                                if (plat.IsCompleted)
                                                {
                                                    <span class="dot" style="background-color: #04BE5B;">
                                                        <i style="vertical-align: -webkit-baseline-middle;padding: 7px;" class="zmdi zmdi-@plat.PlatformIcon PlatformIcon" name="@plat.PlatformName@plat.WorkTaskId" value="@plat.Id" onclick="SwalOpen(@plat.Id)"></i>
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="dot" style="background-color:gainsboro ;">
                                                        <i style="vertical-align: -webkit-baseline-middle;padding: 7px;" class="zmdi zmdi-@plat.PlatformIcon PlatformIcon" name="@plat.PlatformName@plat.WorkTaskId" value="@plat.Id" onclick="SwalOpen(@plat.Id)"></i>
                                                    </span>
                                                }
                                            
                                        }
                                    </td>

                                    <td>@item.ProjectSchedulingTime.ToString(HH_mm)</td>

                                    <td>
                                        @if (item.IsCompleted)
                                        {
                                            <span class="badge badge-success">Completed</span>

                                        }
                                        else
                                        {
                                            <span class="badge badge-warning">To Do</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
