@using  Generics.DataModels.Enums;
@model Tuple<List<WorkTask>, StatsModel>
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
    var list = new List<WorkTask>();
    var distinctProject = Model.Item1.Select(s => new { s.ProjectId, s.IsDesigned, s.OnCreated }).Distinct();
    foreach (var item in distinctProject)
    {
        list.Add(Model.Item1.Where(s => s.IsDesigned == item.IsDesigned && s.ProjectId == item.ProjectId && s.OnCreated == item.OnCreated).FirstOrDefault());
    }
    var time = (Generics.DataModels.Enums.TaskTimeFilter)ViewBag.TimeFilter;
    var status = (Generics.DataModels.Enums.TaskStatusFilter)ViewBag.StatusFilter;
}
<div class="container-fluid">
    <partial name="_MemberStatsView" model="Model.Item2" />
    <div class="row clearfix">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card project_list">

                <div class="pull-right" style="float:right;">
                    <button class="btn btn-success" disabled="@ViewBag.GenerateToday" onclick="GenerateTask()">Generate Task <i class="zmdi zdmi-plus"></i></button>
                    <button class="btn btn-success" disabled="@ViewBag.GenerateTomorrow" onclick="GenerateNextTask()">Generate tomorrow Task <i class="zmdi zdmi-plus"></i></button>
                </div>

                <div class="pull-left">
                    <a href="@(status == TaskStatusFilter.All ? "#" : $"/?time={(int)time}&status={(int)TaskStatusFilter.All}")" class="btn @(status == TaskStatusFilter.All ? "btn-info" : "")">All</a>
                    <a href="@(status == TaskStatusFilter.Done ? "#" : $"/?time={(int)time}&status={(int)TaskStatusFilter.Done}")" class="btn @(status == TaskStatusFilter.Done ? "btn-info" : "")">Done</a>
                    <a href="@(status == TaskStatusFilter.Pending ? "#" : $"/?time={(int)time}&status={(int)TaskStatusFilter.Pending}")" class="btn @(status == TaskStatusFilter.Pending ? "btn-info" : "")">Pending</a>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover c_table">
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th>Platforms</th>
                                <th>Scheduling Time</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in list)
                            {

                                <tr style="@((item.IsCompleted)?"background-color:#04BE5B":"")">


                                    <td><strong>@item.ProjectName</strong></td>
                                    <td>
                                        @foreach (var plat in item.WorkTaskPlatforms)
                                        {

                                            if (plat.IsCompleted)
                                            {
                                                <span class="dot" style="background-color: #04BE5B;">
                                                    <i style="vertical-align: -webkit-baseline-middle;padding: 7px;" class="zmdi zmdi-@plat.PlatformIcon PlatformIcon" name="@plat.PlatformName@plat.WorkTaskId" value="@plat.Id"></i>
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="dot" style="background-color:gainsboro ;">
                                                    <i style="vertical-align: -webkit-baseline-middle;padding: 7px;" class="zmdi zmdi-@plat.PlatformIcon PlatformIcon" name="@plat.PlatformName@plat.WorkTaskId" value="@plat.Id"></i>
                                                </span>
                                            }

                                        }
                                    </td>

                                    <td>@item.OnCreated.ToString(MMMM_dd_yyyy)</td>

                                    <td>
                                        @if (item.IsCompleted)
                                        {
                                            <span class="badge" style="background-color:white">Completed</span>

                                        }
                                        else
                                        {
                                            <span class="badge badge-warning">To Do</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
