@model IEnumerable<Generics.DataModels.AdminModels.StatsView>
@using  Generics.DataModels.Enums;
@{
    ViewData["Title"] = "UserStats";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var time = (TaskTimeFilter)ViewBag.TimeFilter;
    var status = (ProjectFilter)ViewBag.Status;
}
<div class="col-lg-12 col-md-12 col-sm-12">
       <h3><strong>User Statistics</strong></h3>
            <div class="row clearfix">
                <div class="col-md-6 col-sm-12 col-xs-12" style="zoom:85%">
                    <h3>User Filters</h3>
                    <div class="card project_list">
                        <div class="pull-left">
                            <a href="@(status == ProjectFilter.All ? "#" : $"/UserStats/?time={(int)time}&status={(int)ProjectFilter.All}")" class="btn @(status == ProjectFilter.All ? "btn-info" : "")">All</a>
                            <a href="@(status == ProjectFilter.Active ? "#" : $"/UserStats/?time={(int)time}&status={(int)ProjectFilter.Active}")" class="btn @(status == ProjectFilter.Active ? "btn-info" : "")">Active</a>
                            <a href="@(status == ProjectFilter.InActive ? "#" : $"/UserStats/?time={(int)time}&status={(int)ProjectFilter.InActive}")" class="btn @(status == ProjectFilter.InActive ? "btn-info" : "")">InActive</a>
                            <a href="@(status == ProjectFilter.HaveDesigner ? "#" : $"/UserStats/?time={(int)time}&status={(int)ProjectFilter.HaveDesigner}")" class="btn @(status == ProjectFilter.HaveDesigner ? "btn-info" : "")">Designers</a>
                            <a href="@(status == ProjectFilter.HaveScheduler ? "#" : $"/UserStats/?time={(int)time}&status={(int)ProjectFilter.HaveScheduler}")" class="btn @(status == ProjectFilter.HaveScheduler ? "btn-info" : "")">Schedulers</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12" style="zoom:85%">
                    <h3>User Tasks</h3>
                    <div class="card project_list">
                        <div class="pull-rigth">
                            <a href="@(time == TaskTimeFilter.Overall ? "#" : $"/UserStats/?time={(int)TaskTimeFilter.Overall}&status={(int)status}")" class="btn @(time == TaskTimeFilter.Overall ? "btn-info" : "")">Overall</a>
                            <a href="@(time == TaskTimeFilter.CurrentWeek ? "#" : $"/UserStats/?time={(int)TaskTimeFilter.CurrentWeek}&status={(int)status}")" class="btn @(time == TaskTimeFilter.CurrentWeek ? "btn-info" : "")">CurrentWeek</a>
                            <a href="@(time == TaskTimeFilter.CurrentMonth ? "#" : $"/UserStats/?time={(int)TaskTimeFilter.CurrentMonth}&status={(int)status}")" class="btn @(time == TaskTimeFilter.CurrentMonth ? "btn-info" : "")">CurrentMonth</a>
                            <a href="@(time == TaskTimeFilter.Today ? "#" : $"/UserStats/?time={(int)TaskTimeFilter.Today}&status={(int)status}")" class="btn @(time == TaskTimeFilter.Today ? "btn-info" : "")">Today</a>
                            <a href="@(time == TaskTimeFilter.Tomorrow ? "#" : $"/UserStats/?time={(int)TaskTimeFilter.Tomorrow}&status={(int)status}")" class="btn @(time == TaskTimeFilter.Tomorrow ? "btn-info" : "")">Tomorrow</a>
                        </div>
                    </div>
                </div>
            </div>
       
</div>
<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">

                <partial name="_UserStatsView" model="item" />

                
            </div>
        }
        </div>
    </div>








