@model IEnumerable<Generics.DataModels.AdminModels.StatsView>
@using  Generics.DataModels.Enums;
@{
    ViewData["Title"] = "UserStats";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tstatus = (ProjectFilter)ViewBag.Status;
}
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong>Stats</strong> Filter</h2>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="card project_list">
                            <div class="pull-left">
                                <a href="@(tstatus == ProjectFilter.All ? "#" : $"/UserStats/?status={(int)ProjectFilter.All}")" class="btn @(tstatus == ProjectFilter.All ? "btn-info" : "")">All</a>
                                <a href="@(tstatus == ProjectFilter.Active ? "#" : $"/UserStats/?status={(int)ProjectFilter.Active}")" class="btn @(tstatus == ProjectFilter.Active ? "btn-info" : "")">Active</a>
                                <a href="@(tstatus == ProjectFilter.InActive ? "#" : $"/UserStats/?status={(int)ProjectFilter.InActive}")" class="btn @(tstatus == ProjectFilter.InActive ? "btn-info" : "")">InActive</a>
                                <a href="@(tstatus == ProjectFilter.HaveDesigner ? "#" : $"/UserStats/?status={(int)ProjectFilter.HaveDesigner}")" class="btn @(tstatus == ProjectFilter.HaveDesigner ? "btn-info" : "")">Designers</a>
                                <a href="@(tstatus == ProjectFilter.HaveScheduler ? "#" : $"/UserStats/?status={(int)ProjectFilter.HaveScheduler}")" class="btn @(tstatus == ProjectFilter.HaveScheduler ? "btn-info" : "")">Schedulers</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


  

@foreach (var item in Model)
{
    
    var stats = item.Stats;
    var time = (Generics.DataModels.Enums.TaskTimeFilter)ViewBag.TimeFilter;
    var status = (Generics.DataModels.Enums.TaskStatusFilter)ViewBag.StatusFilter;

    var overall = new StatCardModel()
    {
        Total = stats.OverallTotal,
        Done = stats.OverallDone,
        DonePercent = stats.OverallDonePercent,
        Pending = stats.OverallPending,
        Title = "Over All",
        IsActive = time == Generics.DataModels.Enums.TaskTimeFilter.Overall,
        Link = null
    };

    var currentMonth = new StatCardModel()
    {
        Total = stats.CurrentMonthTotal,
        Done = stats.CurrentMonthDone,
        DonePercent = stats.CurrentMonthDonePercent,
        Pending = stats.CurrentMonthPending,
        Title = "Current Month",
        IsActive = time == TaskTimeFilter.CurrentMonth,
        Link = null
    };

    var currentWeek = new StatCardModel()
    {
        Total = stats.CurrentWeekTotal,
        Done = stats.CurrentWeekDone,
        DonePercent = stats.CurrentWeekDonePercent,
        Pending = stats.CurrentWeekPending,
        Title = "Current Week",
        IsActive = time == TaskTimeFilter.CurrentWeek,
        Link = null
    };

    var today = new StatCardModel()
    {
        Total = stats.TodayTotal,
        Done = stats.TodayDone,
        DonePercent = stats.TodayDonePercent,
        Pending = stats.TodayPending,
        Title = "Today",
        IsActive = time == TaskTimeFilter.Today,
        Link = null
    };

    var tomorrow = new StatCardModel()
    {
        Total = stats.TomorrowTotal,
        Done = stats.TomorrowDone,
        DonePercent = stats.TomorrowDonePercent,
        Pending = stats.TomorrowPending,
        Title = "Tomorrow",
        IsActive = time == TaskTimeFilter.Tomorrow,
        Link = null
    };
    
    <h3><strong>@item.User.Name.ToUpper()</strong><span class="badge @(item.User.RoleName==UserRoles.Designer?"badge-info":"badge-warning")"> @item.User.RoleName</span></h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11">
                <div class="row clearfix">
                    <partial name="_TaskStatsCard" model="overall" />
                    <partial name="_TaskStatsCard" model="currentMonth" />
                    <partial name="_TaskStatsCard" model="currentWeek" />
                    <partial name="_TaskStatsCard" model="today" />
                    <partial name="_TaskStatsCard" model="tomorrow" />
                </div>
            </div>
            <div class="col-md-1 align-self-center">
                <span class="badge @(item.User.LockoutEnabled==false?"badge-dander":"badge-success")">@(item.User.LockoutEnabled==false?"Active":"InActive")</span>
            </div>
        </div>
    </div>



}



