@model IEnumerable<AspNetUserRoles>
@{
    ViewData["Title"] = "User Roles";
    Layout = "_TableLayout";
    ViewBag.AddNewLink = "/UserRoles/Create";
}

<table class="table table-bordered table-striped table-hover dataTable js-exportable">
    @CHtmlHelper.TableHead("th", "Name", "Email", "Roles", "Actions")
    @CHtmlHelper.TableFoot("th", "Name", "Email", "Roles", "Actions")
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td> @item.UserName</td>
            <td> @item.Email</td>
            <td>
                    @foreach (var data in item.Roles)
                    {
                <span>@data , </span>
                    }
            </td>
            <td>
                @ButtonHelper.EditSmall("/UserRoles/Edit/" + item.UserId)
                @ButtonHelper.DeleteSmall("/UserRoles/Delete/" + item.UserId)
            </td>

        </tr>
        }
    </tbody>
</table>
