@model Generics.DataModels.AdminModels.ProjectAlertMessage
@{
    var isEdit = (bool)ViewBag.IsEdit;
    var title = (isEdit ? "Edit " : "Create ") + " Project Alert Message";
    ViewData["Title"] = title;
}
@CHtmlHelper.GenerateHeader(title, "/ProjectAlertMessage", "Back to Mobiles List")
@CHtmlHelper.GetCardHeader(12, title)
    <form method="post" name="projectalertmessage">
        @if (isEdit)
        {
            @CHtmlHelper.GenerateInputField("", Model.Id.ToString(), HtmlInputType.Hidden, "Id")
        }
        @CHtmlHelper.GenerateSingleSelectField("Project Message Type", "LabelTypeId", LabelType.CreateLabelTypeDictionary(), (isEdit) ? (int)Model.LabelTypeId : 0)
        @CHtmlHelper.GenerateSingleSelectField("Project", "ProjectId", ViewBag.ProjectDictionary, (isEdit) ? (int)Model.ProjectId : 0)
        @HtmlInputType.TextArea.GenerateInputField("Message", Model.Message, "Message")
        @HtmlInputType.Checbox.GenerateInputField("Is Active", Model.IsActive.ToString(), "IsActive")
        @CHtmlHelper.GenerateButton(isEdit ? "Update" : "Save", HtmlButtonType.SUBMIT)
        @ButtonHelper.CreateSmall("/Platform/Index", "Back to List")
    </form>
@CHtmlHelper.GetCardFooter()
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}