@model IEnumerable<Generics.DataModels.AdminModels.ProjectAlertMessage>
@{
    ViewData["Title"] = "Project Alert Messages";
    Layout = "_TableLayout";
    ViewBag.AddNewLink = "/ProjectAlertMessage/Create";
}

<table class="table table-bordered table-striped table-hover dataTable js-exportable">
    @CHtmlHelper.TableHead("th", "MessageType", "Message", "Created", "Status", "Actions")
    @CHtmlHelper.TableFoot("tf", "MessageType", "Message", "Created", "Status", "Actions")
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProjectMessageTypeId</td>
                <td>@item.Message</td>
                <td>@item.OnCreated.ToString("MMM dd, yyyy")</td>
                <td>@item.IsActive.CheckTag()</td>
                <td>
                    @ButtonHelper.EditSmall("/ProjectAlertMessage/Create/" + item.Id)
                    @ButtonHelper.DeleteSmall("/ProjectAlertMessage/Delate/" + item.Id)
                    @ButtonHelper.DetailSmall("/ProjectAlertMessage/Detail/" + item.Id)
                </td>
            </tr>
        }
    </tbody>
</table>



