@model IEnumerable<Generics.DataModels.AdminModels.ProjectAlertMessage>
@{
    ViewData["Title"] = "Project Alert Messages";
    Layout = "_TableLayout";
    ViewBag.AddNewLink = "/ProjectAlertMessage/Create";
}

<table class="table table-bordered table-striped table-hover dataTable js-exportable">
    @CHtmlHelper.TableHead("th", "MessageType", "Message", "Created", "Status", "Actions")
    @CHtmlHelper.TableFoot("th", "MessageType", "Message", "Created", "Status", "Actions")
    <tbody>
        @foreach (var item in Model)
        {
            @CHtmlHelper.Tr("td",item.LabelTypeId.ToString(), item.Message, item.OnCreated.ToString(dddd_dd_MMMM_yyyy), item.IsActive.CheckTag().ToString(),
              @ButtonHelper.EditSmall("/ProjectAlertMessage/Edit/" + item.Id) + "" +
              @ButtonHelper.DeleteSmall("/ProjectAlertMessage/Delete/" + item.Id) + "" +
              @ButtonHelper.DetailSmall("/ProjectAlertMessage/Detail/" + item.Id).ToString());
        }
    </tbody>
</table>



