@model Generics.DataModels.AdminModels.ProjectNotes
@{
    var isEdit = (bool)ViewBag.IsEdit;
    var title = (isEdit ? "Edit " : "Create ") + " Project Notes";
    ViewData["Title"] = title;
}

@CHtmlHelper.GenerateHeader(title, "/ProjectNotes", "Back to Mobiles List")
@CHtmlHelper.GetCardHeader(12, title)
    <form method="post" name="mobile">
        @if (isEdit)
        {
            @CHtmlHelper.GenerateInputField("", Model.Id.ToString(), HtmlInputType.Hidden, "Id")
        }
        @CHtmlHelper.GenerateSingleSelectField("Note Type", "NoteTypeId", AccessLevelType.CreateProjectNoteDictionary(), (isEdit) ? (int)Model.AccessLevelTypeId : 0)
        @HtmlInputType.Text.GenerateInputField("Message", Model.Message, "Message")
        @HtmlInputType.Checbox.GenerateInputField("Is Active", Model.IsActive.ToString(), "IsActive")
        @CHtmlHelper.GenerateButton(isEdit ? "Update" : "Save", HtmlButtonType.SUBMIT)
    </form>
@CHtmlHelper.GetCardFooter()
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}