@model IEnumerable<Generics.DataModels.AdminModels.ProjectNotes>
@{
    ViewData["Title"] = "Project Members Type";
    Layout = "_TableLayout";
    ViewBag.AddNewLink = "/ProjectNotes/Create";
}

<table class="table table-bordered table-striped table-hover dataTable js-exportable">
    @CHtmlHelper.TableHead("th", "NoteTypeId", "Message", "Created", "Status", "Actions")
    @CHtmlHelper.TableFoot("th", "NoteTypeId", "Message", "Created", "Status", "Actions")
    <tbody>
        @foreach (var item in Model)
        {
            @CHtmlHelper.Tr("td", AccessLevelType.CheckNoteType(item.AccessLevelTypeId), item.Message, item.OnCreated.ToString(dddd_dd_MMMM_yyyy), item.IsActive.CheckTag().ToString(),
                  @ButtonHelper.EditSmall("/ProjectNotes/Edit/" + item.Id) + "" +
                  @ButtonHelper.DeleteSmall("/ProjectNotes/Delete/" + item.Id) + "" +
                  @ButtonHelper.DetailSmall("/ProjectNotes/Detail/" + item.Id).ToString());
        }
    </tbody>
</table>




