@model IEnumerable<Generics.DataModels.AdminModels.ProjectNotes>
@{
    ViewData["Title"] = "Project Members Type";
    Layout = "_TableLayout";
    ViewBag.AddNewLink = "/ProjectNotes/Create";
}

<table class="table table-bordered table-striped table-hover dataTable js-exportable">
    @CHtmlHelper.TableHead("th", "NoteTypeId", "Message", "Created", "Status", "Actions")
    @CHtmlHelper.TableFoot("tf", "NoteTypeId", "Message", "Created", "Status", "Actions")
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.NoteTypeId</td>
            <td>@item.Message</td>
            <td>@item.OnCreated.ToString("MMM dd, yyyy")</td>
            <td>@item.IsActive.CheckTag()</td>
            <td>
                @ButtonHelper.EditSmall("/ProjectNotes/Create/" + item.Id)
                @ButtonHelper.DeleteSmall("/ProjectNotes/Delate/" + item.Id)
                @ButtonHelper.DetailSmall("/ProjectNotes/Detail/" + item.Id)
            </td>
        </tr>
        }
    </tbody>
</table>




