@model Generics.DataModels.AdminModels.MobileSpaces
@{
    var isEdit = (bool)ViewBag.IsEdit;
    var title = (isEdit ? "Edit " : "Create ") + " MobileSpaces";
    ViewData["Title"] = title;
}


@CHtmlHelper.GenerateHeader(title, "/MobileSpaces", "Back to Mobiles List")
@CHtmlHelper.GetCardHeader(12, title)
    <form method="post" name="mobilespaces">
        @if (isEdit)
        {
            @CHtmlHelper.GenerateInputField("Id", Model.Id.ToString(), HtmlInputType.Hidden, "Id")
        }
        @CHtmlHelper.GenerateSingleSelectField("Mobile", "MobileId", ViewBag.MobileDictionary, (isEdit) ? (int)Model.MobileId : 0, false)
        @HtmlInputType.Text.GenerateInputField("Name", Model.Name, "Name")
        @HtmlInputType.Checbox.GenerateInputField("Is Active", Model.IsActive.ToString(), "IsActive")
        @CHtmlHelper.GenerateButton(isEdit ? "Update" : "Save", HtmlButtonType.SUBMIT)
    </form>
@CHtmlHelper.GetCardFooter()
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}