@model IEnumerable<Generics.DataModels.AdminModels.MobileSpaces>
@{
    ViewData["Title"] = "Mobile Spaces";
    Layout = "_TableLayout";
    ViewBag.AddNewLink = "/MobileSpaces/Create";
}

<table class="table table-bordered table-striped table-hover dataTable js-exportable">
    @CHtmlHelper.TableHead("th", "Space", "Mobile", "Created", "Status", "Actions")
    @CHtmlHelper.TableFoot("th", "Space", "Mobile", "Created", "Status", "Actions")
    <tbody>
        @foreach (var item in Model)
        {
            @CHtmlHelper.Tr("td", item.Name, item.MobileId.ToString(), item.OnCreated.ToString(dddd_dd_MMMM_yyyy), item.IsActive.CheckTag().ToString(),
             @ButtonHelper.EditSmall("/MobileSpaces/Edit/" + item.Id) + "" +
             @ButtonHelper.DeleteSmall("/MobileSpaces/Delete/" + item.Id) + "" +
             @ButtonHelper.DetailSmall("/MobileSpaces/Detail/" + item.Id).ToString());
        }
    </tbody>
</table>

