@model Generics.DataModels.AdminModels.Platform
@{
    var isEdit = (bool)ViewBag.IsEdit;
    var title = (isEdit ? "Edit " : "Create ") + " Platforms";
    ViewData["Title"] = title;
}
@CHtmlHelper.GenerateHeader(title, "/Platform", "Back to Mobiles List")
@CHtmlHelper.GetCardHeader(12, title)
    <form method="post" name="platform" enctype="multipart/form-data">
        @if (isEdit)
        {
            @CHtmlHelper.GenerateInputField("Id", Model.Id.ToString(), HtmlInputType.Hidden, "Id")
        }
        @*@CHtmlHelper.GenerateSingleEventSelectField("Platform", "Name", PlatformHelper.GetPlatformDictionar())*@
        <div class='form-group form-float'>
            <label>Platform</label>
            <select class="form-control" id="IconClass" name="IconClass" onchange="myNewFunction()">
                @foreach (var item in PlatformHelper.GetPlatformDictionar())
                {
                    <option value="@item.Key">
                        @item.Value
                    </option>
                }
            </select>
        </div>
       <input type="hidden" name="Name" id="Name" value="@Model.Name" />
        @HtmlInputType.Checbox.GenerateInputField("Is Active", Model.IsActive.ToString(), "IsActive", "IsActive")
        @CHtmlHelper.GenerateButton(isEdit ? "Update" : "Save", HtmlButtonType.SUBMIT)
        @ButtonHelper.BackToListSmall("/Platform/Index")
    </form>
@CHtmlHelper.GetCardFooter()
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        myNewFunction();
        function myNewFunction() {
            var sel = document.getElementById("IconClass");
            document.getElementById("Name").value = sel.options[sel.selectedIndex].text;
        }

    </script>
}
