@model IEnumerable<Generics.DataModels.AdminModels.Platform>
@{
    ViewData["Title"] = "Platforms";
    Layout = "_TableLayout";
    ViewBag.AddNewLink = "/Platform/Create";
}

<table class="table table-bordered table-striped table-hover dataTable js-exportable">
    @CHtmlHelper.TableHead("th","Icon", "Name", "Created", "Status", "Actions")
    @CHtmlHelper.TableFoot("tf", "Icon", "Name", "Created", "Status", "Actions")
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.IconUrl</td>
            <td>@item.Name</td>
            <td>@item.OnCreated.ToString("MMM dd, yyyy")</td>
            <td>@item.IsActive.CheckTag()</td>
            <td>
                @ButtonHelper.EditSmall("/Platform/Create/" + item.Id)
                @ButtonHelper.DeleteSmall("/Platform/Delate/" + item.Id)
                @ButtonHelper.DetailSmall("/Platform/Detail/" + item.Id)
            </td>
        </tr>
        }
    </tbody>
</table>


