@model Generics.DataModels.AdminModels.Customer
@{
    var isEdit = (bool)ViewBag.IsEdit;
    var isSave = (bool)ViewBag.IsSave;
    var title = (isEdit ? "Edit " : "Create ") + " Customer";
    ViewData["Title"] = title;
}

@if (!isSave)
{
    <h5 class="text-danger">Something went wrong while @(isEdit ? "Edit " : "Create ") + " Customer"</h5>
}
@CHtmlHelper.GenerateHeader(title, "/Customer", "Back to Customers List")
@CHtmlHelper.GetCardHeader(12, title)
<form method="post" name="customer">
    @if (isEdit)
    {
        @CHtmlHelper.GenerateInputField("Id", Model.Id.ToString(), HtmlInputType.Hidden, "Id")
    }
    @HtmlInputType.Text.GenerateInputField("Name", Model.Name, "Name")
    @HtmlInputType.Text.GenerateInputField("Email", Model.Email, "Email")
    @HtmlInputType.Text.GenerateInputField("Address", Model.Address, "Address")
    @HtmlInputType.Text.GenerateInputField("PhoneNumber", Model.PhoneNumber, "PhoneNumber")
    @HtmlInputType.Checbox.GenerateInputField("Is Active", Model.IsActive.ToString(), "IsActive")
    @CHtmlHelper.GenerateButton(isEdit ? "Update" : "Save", HtmlButtonType.SUBMIT)
</form>
@CHtmlHelper.GetCardFooter()
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}