@model Generics.DataModels.AdminModels.Customer
@{
    ViewData["Title"] = "Customer Detail";
    Layout = "_DetailLayout";
}
<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>Customer Detail</h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-4 col-md-12">
            <div class="card mcard_3 p10">
                <div class="body">
                    <a href="#"><img src="/images/profile_av.jpg" class="rounded-circle shadow " alt="profile-image"></a>
                    <h4 class="m-t-10">@Model.Name</h4>
                    @if (Model.IsActive)
                    {
                        <span class="badge badge-success">Active</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">Not Active</span>
                    }

                </div>
                <h6>Modified Date : @Model.OnModified.ToString(MMMM_dd_yyyy)</h6>
            </div>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Customer <strong>Projects</strong></h2>
                    <div class="pull-right">
                        @ButtonHelper.Create($"/Project/Create?customerId={Model.Id}&returnUrl=/Customer/Detail/{Model.Id}")
                    </div>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0 c_table">
                            <tbody>
                                @foreach (var project in Model.Projects)
                                {
                                <tr>
                                    <td class="w250 text-left"><strong>@project.Name</strong></td>
                                    @if (project.IsActive)
                                    {
                                        <td class="w250 text-center"><span class="badge badge-success">Active</span></td>
                                    }
                                    else
                                    {
                                        <td class="w250"><span class="badge badge-danger">Not Active</span></td>
                                    }
                                    <td class="w250 text-right">@ButtonHelper.Edit($"/Project/Edit/{project.Id}&returnUrl=/Customer/Detail/{Model.Id}")</td>
                                </tr>
                                }
                             </tbody>
                         </table>
                     </div>
                    </div>
                </div>
        </div>
    </div>
</div>


