@model Generics.DataModels.AdminModels.CustomerDetailView
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-xl-4 col-lg-12 col-md-12">
                <div class="card mcard_3">
                    <div class="body">
                        <a href="profile.html"><img src="/images/profile_av.jpg" class="rounded-circle" alt="profile-image"></a>
                        <h4 class="m-t-10">@Model.customer.CustomerName</h4>
                        <div class="row">
                            <div class="col-12 mb-4">
                                <ul class="social-links list-unstyled">
                                    <li><a href="https://www.facebook.com/thememakkerteam" title="facebook"><i class="zmdi zmdi-facebook-box"></i></a></li>
                                    <li><a href="https://twitter.com/thememakker" title="twitter"><i class="zmdi zmdi-twitter-box"></i></a></li>
                                    <li><a href="https://www.instagram.com/thememakker/" title="instagram"><i class="zmdi zmdi-instagram"></i></a></li>
                                </ul>
                                <a href="https://themeforest.net/user/wrraptheme/portfolio" class="btn btn-danger">Our Portfolio</a>
                                <a href="https://thememakker.com/" class="btn btn-success">More Template</a>
                            </div>
                            <div class="col-4">
                                <small>Experience</small>
                                <h5>6+ Year</h5>
                            </div>
                            <div class="col-4">
                                <small>Hourly Rate</small>
                                <h5>18$</h5>
                            </div>
                            <div class="col-4">
                                <small>Team</small>
                                <h5>25+</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="body">
                        <small class="text-muted">Reviews: </small>
                        <p>
                            <i class="text-warning zmdi zmdi-star"></i>
                            <i class="text-warning zmdi zmdi-star"></i>
                            <i class="text-warning zmdi zmdi-star"></i>
                            <i class="text-warning zmdi zmdi-star"></i>
                            <i class="text-warning zmdi zmdi-star-half"></i>
                        </p>
                        <hr>
                        <small class="text-muted">Address: </small>
                        <p>@Model.customer.Address</p>
                        <hr>

                        <small class="text-muted">Phone Number: </small>
                        <p>@Model.customer.PhoneNumber</p>
                        <hr>

                        <small class="text-muted">Created Date: </small>
                        <p>@Model.customer.OnCreated.Date</p>
                        <hr>

                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-12 col-md-12">
                <div class="row clearfix">
                    <div class="col-md-6 col-sm-12">
                        <h1>Projects</h1>
                        @foreach (var item in Model.Projects)
                        {
                            <div class="card">
                                <div class="body">
                                    <h5 class="mt-3">@item.ProjectName</h5>
                                    <h6 class="mt-3">@item.CreatedBy Created this on @item.OnCreated</h6>
                                    @foreach (var i in item.ProjectPlatforms)
                                    {
                                        <img class="img-fluid img-thumbnail" src="~/uploads/" alt="">

                                        <h5 class="mt-3">@i.PlatformName</h5>
                                        <h5 class="mt-3">@i.CreatedBy Created this on @i.OnCreated</h5>
                                        <p>@i.PlatformLink</p>
                                        @foreach(var m in item.ProjectMembers)
                                        {
                                            <p>@m.ProjectMemberTypeName</p>
                                <h5 class="mt-3">@i.CreatedBy Created this on @i.OnCreated</h5>
                                        }
                                        <div class="d-flex justify-content-between">
                                            <a href="/ProjectPlatform/Create/@item.ProjectId" class="btn btn-raised btn-success btn-round waves-effect">Add Platforms</a>
                                            <a href="/ProjectMembers/Create/@item.ProjectId" class="btn btn-raised btn-primary btn-round waves-effect">Add Members</a>
                                        </div>
                                    }
                                    <hr />

                                </div>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
