@model IEnumerable<Generics.DataModels.AdminModels.Customer>
@{
    ViewData["Title"] = "Customer";
    Layout = "_TableLayout";
    ViewBag.AddNewLink = "/Customer/Create";
}

    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
    @CHtmlHelper.TableHead("th", "Name", "Email", "Number", "Address", "Created", "Status", "Actions")
    @CHtmlHelper.TableFoot("th", "Name", "Email", "Number", "Address", "Created", "Status", "Actions")
    <tbody>
        @foreach (var item in Model)
        {
            @CHtmlHelper.Tr("td", item.Name, item.Email,item.PhoneNumber,item.Address, item.OnCreated.ToString(dddd_dd_MMMM_yyyy), item.IsActive.CheckTag().ToString(),
             @ButtonHelper.EditSmall("/Customer/Edit/" + item.Id) + "" +
             @ButtonHelper.DeleteSmall("/Customer/Delete/" + item.Id) + "" +
             @ButtonHelper.DetailSmall("/Customer/Detail/" + item.Id).ToString());
        }
    </tbody>
</table>
    