@model IEnumerable<Generics.DataModels.AdminModels.Customer>
@{
    ViewData["Title"] = "Customer";
    Layout = "_TableLayout";
    ViewBag.AddNewLink = "/Customer/Create";
}

    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
    @CHtmlHelper.TableHead("th", "Name", "Email", "Number", "Address", "Created", "Status", "Actions")
    @CHtmlHelper.TableFoot("th", "Name", "Email", "Number", "Address", "Created", "Status", "Actions")
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.PhoneNumber</td>
            <td>@item.Address</td>
            <td>@item.OnCreated.ToString("MMM dd, yyyy")</td>
            <td>@item.IsActive.CheckTag()</td>
            <td>
                @ButtonHelper.EditSmall("/Customer/Create/" + item.Id)
                @ButtonHelper.DeleteSmall("/Customer/Delate/" + item.Id)
                @ButtonHelper.DetailSmall("/Customer/Detail/" + item.Id)
                @ButtonHelper.Create("/Project/Detail/" + item.Id)
            </td>
        </tr>
        }
    </tbody>
</table>
