<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="@(ViewBag.MetaDescription != null ? ViewBag.MetaDescription : "Responsive Bootstrap 4 and Web Application ui kit.")">
    <title>@ViewData["Title"] - Admin</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Custom Css -->
    <link rel="stylesheet" href="/css/style.min.css">
    <link rel="stylesheet" href="/css/site.css" />

    <!-- JQuery DataTable Css -->
    <link rel="stylesheet" href="/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
    <!-- SweetAlert Plugin Js -->
    <link rel="stylesheet" href="/plugins/sweetalert/sweetalert.css" />

    <!-- Bootstrap Select Css -->
    <link href="/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

</head>

<body class="theme-blush @(ViewData["BodyClass"])">
    @RenderBody()
    <!-- Jquery Core Js -->
    <script src="/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
    <script src="/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
    <script src="/bundles/mainscripts.bundle.js"></script>
    <!-- Jquery DataTable Plugin Js -->
    <script src="/bundles/datatablescripts.bundle.js"></script>
    <script src="/plugins/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="/plugins/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="/plugins/jquery-datatable/buttons/buttons.flash.min.js"></script>
    <script src="/plugins/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="/plugins/jquery-datatable/buttons/buttons.print.min.js"></script>

    <script src="/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
    <script src="/js/pages/tables/jquery-datatable.js"></script>
    <!-- SweetAlert Plugin Js -->
    <script src="/plugins/sweetalert/sweetalert.min.js"></script>
    <!-- Basi formElements Js -->
    @*<script src="/js/pages/forms/basic-form-elements.js"></script>*@


    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
