<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="@(ViewBag.MetaDescription != null ? ViewBag.MetaDescription : "Responsive Bootstrap 4 and Web Application ui kit.")">
    <title>@ViewData["Title"] - Admin</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Custom Css -->
    <link rel="stylesheet" href="/css/style.min.css">
    <link rel="stylesheet" href="/css/site.css" />

    <!-- JQuery DataTable Css -->
    <link rel="stylesheet" href="/plugins/jquery-datatable/dataTables.bootstrap4.min.css">
    <!-- SweetAlert Plugin Js -->
    <link rel="stylesheet" href="/plugins/sweetalert/sweetalert.css" />
    <link rel="stylesheet" href="~/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />


    <!-- Bootstrap Select Css -->
    <link href="/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />


    <!-- Bootstrap Material Datetime Picker Css -->
    <link href="/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <script src="~/js/sweetalert2.js"></script>
    <style>
        .pull-right {
            float: right;
        }

        .pull-left {
            float: left;
        }

        .dot {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            display: inline-block;
        }
    </style>
</head>

<body class="theme-blush @(ViewData["BodyClass"]) @(User.IsAdminOrHr() ? "" : "ls-toggle-menu")">
    @RenderBody()

    <!-- Jquery Core Js -->
    <script src="/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
    <script src="/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
    <!-- Jquery DataTable Plugin Js -->
    <script src="/bundles/datatablescripts.bundle.js"></script>
    <script src="/plugins/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="/plugins/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="/plugins/jquery-datatable/buttons/buttons.flash.min.js"></script>
    <script src="/plugins/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="/plugins/jquery-datatable/buttons/buttons.print.min.js"></script>

    <!-- SweetAlert Plugin Js -->
    @*<script src="/plugins/sweetalert/sweetalert.min.js"></script>*@
    <script src="/plugins/momentjs/moment.js"></script>

    <script src="/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    @*<script src="~/js/jquery-3.5.1.min.js"></script>*@

    <!-- Basi formElements Js -->
    <!-- Colorpicker Css -->

    <script src="~/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> <!-- Bootstrap Colorpicker Js -->

    <script src="/bundles/mainscripts.bundle.js"></script>
    <script src="~/js/IndexCustom.js"></script>
    <script src="~/js/CustomeSweetAlert.js"></script>
    <script>
        $('.colorpicker').colorpicker();
    </script>

    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/ValidationScripts/FormsValidation.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
