@model Generics.DataModels.AdminModels.Project
@{
    ViewData["Title"] = "Project Detail";
    Layout = "_Layout";
    var host = Context.Request.Scheme + "://" + Context.Request.Host;
}
<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>Project Detail</h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-xl-4 col-lg-12 col-md-12">
            <div class="card mcard_3 shadow p-3 mb-5 bg-white rounded">
                <div class="body">
                    <a href="profile.html"><img src="/images/profile_av.jpg" class="rounded-circle" alt="profile-image"></a>
                    <h4 class="m-t-10">@Model.Name</h4>
                    <h5 class="m-t-10">Created: @Model.OnModified.ToString(MMMM_dd_yyyy)</h5>
                    <span>Mobile Sapce: @Model.MobileSpaceName <a role="button" class="btn btn-sm btn-danger btn-round text-white"><i class="zmdi zmdi-delete"></i></a></span>
                </div>
            </div>
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="header">
                    <div class="row">
                        <div class="col-md-6">
                            <h2><strong>Members</strong></h2>
                        </div>
                        <div class="col-md-6">
                            @if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Hr))
                            {
                            <div class="pull-right">
                                @if (Model.ProjectMembers.Where(s => s.MemberType == UserRoles.Designer).Count() == 0)
                                {
                                    <a href="/ProjectMembers/Create?projectId=@Model.Id&type=Designer&returnUrl=/Project/Detail/@Model.Id" class="btn btn-success">Add Designer</a>
                                }
                                @if (Model.ProjectMembers.Where(s => s.MemberType == UserRoles.Scheduler).Count() == 0)
                                {
                                    <a href="/ProjectMembers/Create?projectId=@Model.Id&type=Scheduler&returnUrl=/Project/Detail/@Model.Id" class="btn btn-success">Add Scheduler</a>
                                }
                                    @*@ButtonHelper.Create($"/ProjectMembers/Create?projectId={Model.Id}&returnUrl=/Project/Detail/{Model.Id}")
                                     @ButtonHelper.Create($"/ProjectMembers/Create?projectId={Model.Id}&returnUrl=/Project/Detail/{Model.Id}")*@
                           </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="responsive">
                    <table class="table table-hover c_table">
                        <tbody>
                            @foreach (var item in Model.ProjectMembers)
                            {
                                <tr>
                                    <td>
                                        <div style="width:50px;height:auto" class="rounded-circle">
                                            <img src="/images/profile_av.jpg" class="img-fluid" alt="">
                                        </div>
                                    </td>
                                    <td>
                                        <ul class="social-links list-unstyled">
                                            <li><span>@item.MemberName</span></li>
                                            <li><span class="text-muted">@item.MemberType</span></li>
                                        </ul>
                                    </td>
                                    <td>
                                        @if (Model.ProjectMembers.Where(s => s.MemberType == UserRoles.Designer).Count() > 0)
                                        {
                                            <a onclick="DeleteMember(@item.Id)" role="button" class="btn btn-sm btn-danger btn-round text-white"><i class="zmdi zmdi-delete"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-xl-8 col-lg-12 col-md-12">
            <div class="row clearfix">
                <div class="col-md-12 col-sm-12">
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        <div class="header">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2><strong>Platform</strong></h2>
                                </div>
                                <div class="col-md-6">
                                    @if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Hr))
                                    {
                                        <div class="pull-right">
                                            @ButtonHelper.Create($"/ProjectPlatform/Create?projectId={Model.Id}&returnUrl=/Project/Detail/{Model.Id}")
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="responsive">
                            <table class="table table-hover c_table">
                                <tbody>

                                    <tr>

                                        <td>
                                            @foreach (var item in Model.ProjectPlatforms)
                                            {
                                                <a href="@item.Link" target="_blank" class="btn"><i class="@item.PlatformIcon"></i> @item.PlatformName </a>
                                            }
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        <div class="header">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2><strong>Project Task</strong></h2>
                                </div>
                                <div class="col-md-6">
                                    @if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Hr))
                                    {
                                        <div class="pull-right">
                                            <button class="btn btn-success" onclick="Process(@Model.Id)"><i class="zdmi zdmi-plus"></i> Create</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="responsive">
                            <table class="table table-hover c_table">
                                <tbody>
                                    @foreach (var item in Model.projectTasks)
                                    {
                                        <tr>
                                            <td>
                                                @TaskType.CheckTaskType(item.TaskTypeId)-@FrequencyType.CheckFrequencyType(item.FrequencyTypeId)
                                            </td>
                                            <td>
                                                
                                                    
                                                    @foreach (var sched in item.ProjectTaskScheduling)
                                                    {
                                                        <span class="btn btn-primary">@sched.Time.ToString("hh:mm:ss tt")</span>
                                                    }
                                               
                                            </td>
                                            <td>
                                                <a role="button" onclick="DeletePlatformTask(@item.Id)" class="btn btn-sm btn-danger btn-round text-white"><i class="zmdi zmdi-delete"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        <div class="header">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2><strong>Notes</strong></h2>
                                </div>
                                <div class="col-md-6">
                                    @if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Hr))
                                    {
                                        <div class="pull-right">
                                            @ButtonHelper.Create($"/ProjectNotes/Create?projectId={Model.Id}&returnUrl=/Project/Detail/{Model.Id}")
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="responsive">
                            <table class="table c_table inbox_table">
                                @foreach (var item in Model.ProjectNotes)
                                {
                                    <tr>
                                        <td style="vertical-align: top;text-align: left;">
                                            <p>@item.Message bilal saleem</p>
                                        </td>
                                        <td class="time" style="width:auto">
                                            <ul class="social-links list-unstyled">
                                                <li><span>@item.OnCreated.ToString("MMM dd,yy")</span></li>
                                                <li><span class="text-muted">@item.OnCreated.ToString(HH_mm_ss)</span></li>
                                                <li><div class="press"><span class="badge text-white" style="background-color:@item.LabelColor">@item.LabelName</span></div></li>
                                            </ul>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        <div class="header">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2><strong>Alert Messages</strong></h2>
                                </div>
                                <div class="col-md-6">
                                    @if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Hr))
                                    {
                                        <div class="pull-right">
                                            @ButtonHelper.Create($"/ProjectAlertMessage/Create?projectId={Model.Id}&returnUrl=/Project/Detail/{Model.Id}")
                                        </div>
                                    }
                                 </div>
                            </div>
                        </div>
                        <div class="responsive">
                            <table class="table c_table inbox_table">
                                @foreach (var item in Model.ProjectAlertMessages)
                                {
                                    <tr>
                                        <td style="vertical-align: top;text-align: left;">
                                            <p>@item.Message</p>
                                        </td>
                                        <td class="time" style="width:auto">
                                            <ul class="social-links list-unstyled">
                                                <li><span>@item.OnCreated.ToString("MMM dd,yy")</span></li>
                                                <li><span class="text-muted">@item.OnCreated.ToString(HH_mm_ss)</span></li>
                                                <li><span class="badge text-white" style="background-color:@item.LabelColor">@item.LabelName</span></li>
                                            </ul>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
