@model Generics.DataModels.AdminModels.Project
@{
    ViewData["Title"] = "Project Detail";
    Layout = "_Layout";
    var host = Context.Request.Scheme + "://" + Context.Request.Host;
    var alertdiv = "alertdiv";
    var alert = "alert";
}
<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>Project Detail</h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-xl-4 col-lg-12 col-md-12">
            <div class="card mcard_3 shadow p-3 mb-5 bg-white rounded">
                <div class="body">
                    <a href="profile.html"><img src="/images/profile_av.jpg" class="rounded-circle" alt="profile-image"></a>
                    <h4 class="m-t-10">@Model.Name</h4>
                    <h5 class="m-t-10">Created: @Model.OnModified.ToString(MMMM_dd_yyyy)</h5>
                    <span>Mobile Sapce: @(Model.MobileName!=""?Model.MobileName+"-"+Model.MobileSpaceName:"None")</span>
                </div>
            </div>
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="header">
                    <div class="row">
                        <div class="col-md-6">
                            <h2><strong>Members</strong></h2>
                        </div>
                        <div class="col-md-6">
                            @if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Hr))
                            {
                                <div class="pull-right">
                                    <button class="btn btn-success" style="display:@(Model.ProjectMembers.Where(s => s.MemberType == UserRoles.Designer).Count() == 0?"block":"none")" id="btndesigner" onclick="CreateMember(@Model.Id,'Designer')"><i class="zmdi zmdi-plus"> Designer</i></button>
                                    <button class="btn btn-success" style="display:@(Model.ProjectMembers.Where(s => s.MemberType == UserRoles.Scheduler).Count() == 0?"block":"none")" id="btnscheduler" onclick="CreateMember(@Model.Id,'Scheduler')"><i class="zmdi zmdi-plus"> Scheduler</i></button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="responsive">
                    <table class="table table-hover c_table">
                        <tbody id="myMembers">
                            @foreach (var item in Model.ProjectMembers)
                            {
                                <tr id="@item.Id" class="row col-md-12 unsetmargin text-center">
                                    <td class="col-md-3" style="text-align: -webkit-center;">
                                        <div class="rounded-circle imagesize">
                                            <img src="/images/profile_av.jpg" class="img-fluid" alt="">
                                        </div>
                                    </td>
                                    <td class="col-md-6">
                                        <ul class="social-links list-unstyled">
                                            <li><span>@item.MemberName</span></li>
                                            <li><span class="text-muted">@item.MemberType</span></li>
                                        </ul>
                                    </td>
                                    <td class="col-md-3 flexendalign">

                                        @if (item.MemberType == UserRoles.Scheduler)
                                        {
                                            <a onclick="DeleteMember(@item.Id,'@item.MemberName','@item.MemberType')" role="button" class="btn btn-sm btn-danger btn-round text-white"><i class="zmdi zmdi-delete"></i></a>
                                        }
                                        else
                                        {
                                            <a onclick="DeleteMember(@item.Id,'@item.MemberName','@item.MemberType')" role="button" class="btn btn-sm btn-danger btn-round text-white"><i class="zmdi zmdi-delete"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-xl-8 col-lg-12 col-md-12">
            <div class="row clearfix">
                <div class="col-md-12 col-sm-12">
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        <div class="header">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2><strong>Platform</strong></h2>
                                </div>
                                <div class="col-md-6">
                                    @if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Hr))
                                    {

                                        <div class="pull-right">
                                            @*@ButtonHelper.Create($"/ProjectPlatform/Create?projectId={Model.Id}&returnUrl=/Project/Detail/{Model.Id}")*@
                                            <button class="btn btn-success" onclick="CreatePlatform(@Model.Id)"><i class="zmdi zmdi-plus"></i> Create</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <div class="row">
                                <div class="col-md-12" id="myPlat">
                                    @foreach (var item in Model.ProjectPlatforms)
                                    {
                                        <span id="@item.Id" class="btn btn-primary btn-lg"><a href="@item.Link" target="_blank" class="text-white-50 btnspan"><i class="@item.PlatformIcon fontXLarge"> @item.PlatformName</i></a><i class="ti-close text-danger font-bolde fontLarge" onclick="DeletePaltforms(@item.Id, '@item.PlatformName')"></i></span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        <div class="header">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2><strong>Project Task</strong></h2>
                                </div>
                                <div class="col-md-6">
                                    @if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Hr))
                                    {
                                        <div class="pull-right">
                                            <button class="btn btn-success" onclick="Process(@Model.Id)"><i class="zdmi zdmi-plus"></i> Create</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="responsive">
                            <table class="table table-hover c_table">
                                <tbody id="myTask">
                                    @foreach (var item in Model.projectTasks)
                                    {
                                        <tr id="@item.Id" lable="@TaskType.CheckTaskType(item.TaskTypeId)-@FrequencyType.CheckFrequencyType(item.FrequencyTypeId)" class="row col-md-12 text-center" style="margin:auto">
                                            <td class="col-md-2">
                                                @TaskType.CheckTaskType(item.TaskTypeId)-@FrequencyType.CheckFrequencyType(item.FrequencyTypeId)
                                            </td>
                                            <td class="col-md-8">


                                                @foreach (var sched in item.ProjectTaskScheduling)
                                                {
                                                    <span class="btn btn-primary">@sched.Time.ToString("hh:mm tt")</span>
                                                }

                                            </td>
                                            <td class="col-md-2">
                                                <a role="button" onclick="DeletePlatformTask(@item.Id)" class="btn btn-sm btn-danger btn-round text-white"><i class="zmdi zmdi-delete"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        <div class="header">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2><strong>Notes</strong></h2>
                                </div>
                                <div class="col-md-6">
                                    @if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Hr))
                                    {
                                        <div class="pull-right">
                                            <button class="btn btn-success" onclick="CreateNotes(@Model.Id,1)"><i class="zdmi zdmi-plus"></i> Create</button>
                                        </div>
                                    }
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-control show-tick" id="Notes" onchange="Notesfilter()">
                                        <option value="">--NoteTypes--</option>
                                        <option value="">All</option>
                                        @foreach (var n in ViewBag.LabelType)
                                        {
                                            <option value="@n.Key">@n.Value</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="responsive" id="myNotes">
                            @foreach (var item in Model.ProjectNotes)
                            {
                                <div class="row col-md-12" id="@item.Id" label="@item.LabelTypeId">
                                    <div class="col-md-8 text-dark">
                                        @item.Message
                                    </div>
                                    <div class="col-md-3">
                                        <ul class="social-links list-unstyled">
                                            <li><span class="text-black-50">@item.OnCreated.ToString("MMM dd,yy")</span></li>
                                            <li><span class="text-muted">@item.OnCreated.ToString("hh:ss tt")</span></li>
                                            <li><div class="press"><span class="badge text-white NoteType" style="background-color:@item.LabelColor">@item.LabelName</span></div></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-1">
                                        <a role="button" onclick="DeleteNotes(@item.Id)" class="btn btn-sm btn-danger btn-round text-white"><i class="zmdi zmdi-delete"></i></a>
                                    </div>
                                </div>
                                
                            }
                        </div>
                    </div>
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        <div class="header">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2><strong>Alert Messages</strong></h2>
                                </div>
                                <div class="col-md-6">
                                    @if (User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Hr))
                                    {
                                        <div class="pull-right">
                                            <button class="btn btn-success" onclick="CreateAlertMessages(@Model.Id,1)"><i class="zdmi zdmi-plus"></i> Create</button>
                                        </div>
                                    }
                                </div>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <select class="form-control show-tick" id="Alerts" onchange="Alertfilter()">
                                                <option value="">--Alerts--</option>
                                                <option value="">All</option>
                                                @foreach (var n in ViewBag.LabelType)
                                                {
                                                    <option value="@n.Key">@n.Value</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-5">
                                            <select class="form-control show-tick" id="AlertType" onchange="AlertTypefilter()">
                                                <option value="">--AlertTypes--</option>
                                                <option value="">All</option>
                                                @foreach (var n in AlertType.CreateAlertTypeDictionary())
                                                {
                                                    <option value="@n.Key">@n.Value</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="responsive" id="myAlertMessages">
                            @foreach (var item in Model.ProjectAlertMessages)
                            {
                                <div class="row col-md-12" id="@item.Id" label="@item.LabelTypeId" alertlabel="@item.AlertTypeId">
                                    <div class="col-md-7 text-dark">
                                        @item.Message
                                    </div>
                                    <div class="col-md-3">
                                        <ul class="social-links list-unstyled">
                                            <li><span class="text-black-50">@item.OnCreated.ToString("MMM dd,yy")</span></li>
                                            <li><span class="text-muted">@item.OnCreated.ToString("hh:ss tt")</span></li>
                                            <li><div class="press"><span class="badge text-white" style="background-color:@item.LabelColor">@item.LabelName</span></div></li>
                                            <li><div id="@alertdiv@item.Id"><div class="press" id="@alert@item.Id"><span class="badge text-white" style="background-color:@AlertType.GetColor(item.AlertTypeId)">@AlertType.CheckAlertType(item.AlertTypeId)</span></div></div></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-2">
                                        <a role="button" onclick="DeleteAlertMessages(@item.Id)" class="btn btn-sm btn-danger btn-round text-white"><i class="zmdi zmdi-delete"></i></a>
                                        <a role="button" onclick="UpdateAlertMessages(@item.Id,1)" class="btn btn-sm btn-success btn-round text-white" title="Mark as done"><i class="zmdi zmdi-check"></i></a>
                                        <a role="button" onclick="UpdateAlertMessages(@item.Id,2)" class="btn btn-sm btn-danger btn-round text-white" title="Mark as Issue">Issue</a>
                                    </div>
                                </div>
                                
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>

</script>