@model Dictionary<string, string>
@{
    var title = "Add Project Members";
    ViewData["Title"] = title;
}


@CHtmlHelper.GenerateHeader(title, "/ProjectMembers", "Back to Mobiles List")
@CHtmlHelper.GetCardHeader(12, title)
<form method="post" name="projectmembers">
    @CHtmlHelper.GenerateSingleSelectField("Member Type", "ProjectMemberTypeId", ViewBag.ProjectMemberTypes, 0)
    @CHtmlHelper.GenerateSingleSelectField("Project Name", "ProjectId", ViewBag.Projects, 0)
    @CHtmlHelper.GenerateSingleSelectFieldString("Member Name", "userId", Model, "")
    @*@HtmlInputType.Checbox.GenerateInputField("Is Active", Model.IsActive.ToString(), "IsActive","IsActive")*@
    @CHtmlHelper.GenerateButton("Save", HtmlButtonType.SUBMIT)
    @*@ButtonHelper.CreateSmall("/ProjectMembers/Index", "Back to List")*@
</form>
@CHtmlHelper.GetCardFooter()
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}