@model IEnumerable<Generics.DataModels.AdminModels.ProjectMembers>
@{
    ViewData["Title"] = "Project Members";
    Layout = "_TableLayout";
    ViewBag.AddNewLink = "/ProjectMembers/Create";
}

<table class="table table-bordered table-striped table-hover dataTable js-exportable">
    @CHtmlHelper.TableHead("th", "Member Type", "Member Name", "Created", "Status", "Actions")
    @CHtmlHelper.TableFoot("th", "Member Type", "Member Name", "Created", "Status", "Actions")
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.MemberType</td>
            <td>@item.MemberName </td>
            <td>@item.OnCreated.ToString("MMM dd, yyyy")</td>
            <td>@item.IsActive.CheckTag()</td>
            <td>
                @ButtonHelper.EditSmall("/ProjectMembers/Edit/" + item.Id)
                @ButtonHelper.DeleteSmall("/ProjectMembers/Delete/" + item.Id)
                @ButtonHelper.DetailSmall("/ProjectMembers/Detail/" + item.Id)
            </td>
        </tr>
        }
    </tbody>
</table>




