@model Generics.DataModels.AdminModels.ProjectMemberTypes
@{
    var isEdit = (bool)ViewBag.IsEdit;
    var title = (isEdit ? "Edit " : "Create ") + " Project Members Type";
    ViewData["Title"] = title;
}


@CHtmlHelper.GenerateHeader(title, "/ProjectMemberType", "Back to Mobiles List")
@CHtmlHelper.GetCardHeader(12, title)
<form method="post" name="projectmembertype">
    @if (isEdit)
    {
        @CHtmlHelper.GenerateInputField("Id", Model.Id.ToString(), HtmlInputType.Hidden, "Id")
    }
    @HtmlInputType.Text.GenerateInputField("Name", Model.Name, "Name")
    @HtmlInputType.Checbox.GenerateInputField("Is Active", Model.IsActive.ToString(), "IsActive","IsActive")
    @CHtmlHelper.GenerateButton(isEdit ? "Update" : "Save", HtmlButtonType.SUBMIT)
</form>
@CHtmlHelper.GetCardFooter()
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
