@model IEnumerable<Generics.DataModels.AdminModels.ProjectMemberTypes>
@{
    ViewData["Title"] = "Project Members Type";
    Layout = "_TableLayout";
    ViewBag.AddNewLink = "/ProjectMemberType/Create";
}

<table class="table table-bordered table-striped table-hover dataTable js-exportable">
    @CHtmlHelper.TableHead("th", "Name", "Created", "Status", "Actions")
    @CHtmlHelper.TableFoot("tf", "Name", "Created", "Status", "Actions")
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.OnCreated.ToString("MMM dd, yyyy")</td>
                <td>@item.IsActive.CheckTag()</td>
                <td>
                    @ButtonHelper.EditSmall("/ProjectMemberType/Create/" + item.Id)
                    @ButtonHelper.DeleteSmall("/ProjectMemberType/Delate/" + item.Id)
                    @ButtonHelper.DetailSmall("/ProjectMemberType/Detail/" + item.Id)
                </td>
            </tr>
        }
    </tbody>
</table>




